.search-aid {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 350px;
  height: 100%;
  box-shadow: black 0px 0px 1em;
  border-radius: 0.5em 0 0 .5em;
  z-index: 999999;
  background: #ffffff url('yammer-search-aid-logo-48.png') no-repeat 20px 20px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  -webkit-transition: top 0.5s, width 0.5s, right linear 0.5s, height ease-in 0.5s, padding 0.5s, background-position 0.5s;
}

.search-aid.search-aid--off {
  width: 48px;
  height: 48px;
  padding: 4px 6px 1px 6px;
  background-position: 4px 2px;
  overflow: hidden;
  -webkit-transition: top 0.5s, width 0.5s, right linear 0.5s, height ease-out 0.5s, padding 0.5s, background-position 0.5s;
}

.search-aid.search-aid--dragging {
  -webkit-transtition: none !important;
  transition: none !important;
}

.search-aid .search-aid--drag-target {
  position:absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 53px;
  z-index:100;
}

.search-aid .search-aid--interactive {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -webkit-transition-delay: 0.3s;
}

.search-aid.search-aid--off .search-aid--interactive {
  opacity: 0;
  -webkit-transition-delay: 0s;
}

.search-aid h1 {
  margin: 5px 0 0 64px;
}

.search-aid h2 {
  margin: 30px 0 0 0;
}

.search-aid h2.search-aid--waiting {
  background: transparent url('spinner.gif') no-repeat 100% 12px;
}

.search-aid .search-aid--links-list {
  position:relative;
  margin:0;
  padding: 10px;
  display:block;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
}

.search-aid .search-aid--links-list-cta {
  display:block;
  margin: 0 0 8px 0;
  line-height: 14px;
}

.search-aid .search-aid--trash {
  display:block;
  float:right;
  margin: 20px 0 0 0;
  width:100%;
  height:16px;
  background: transparent url('trash.png') no-repeat 100% 0;
}