#searchAid {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 350px;
  height: 100%;
  box-shadow: black 0px 0px 1em inset;
  z-index: 999999;
  background: #ececec url('yammer-search-aid-logo-48.png') no-repeat 20px 20px;
  padding: 20px;
  overflow-y: scroll;
  -webkit-transition: right 1s, height 1s;
}

#searchAid.off {
  right: -306px;
  height: 48px;

}

#searchAid h1 {
  margin: 5px 0 0 64px;
}

#searchAid h2 {
  margin: 30px 0 0 0;
}

#searchAid h2.waiting {
  background: transparent url('spinner.gif') no-repeat 100% 12px;
}

#searchAid .links-list {
  position:relative;
  margin:0;
  padding: 10px;
  display:block;
  background-color:#fff;
}

#searchAid .links-list li {
  display:block;
  margin: 0 0 8px 0;
  line-height: 14px;
}